.root {
  max-width: 330px;
  padding: 15px;
  margin: 100px auto 0;
  background: #fff;
}

.root :global .form-signin-heading,
.root :global .checkbox {
  margin-bottom: 10px;
}
.root :global .checkbox {
  font-weight: normal;
}
.root :global .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.root :global .form-control:focus {
  z-index: 2;
}
.root input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.root input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
