.root {
  composes: fill from '../layout/layout.css';
}

.enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.enterActive {
  opacity: 1;
}

.leave {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.leaveActive {
  opacity: 0;
}

.link-active {
  color: #bbbbbb;
  text-decoration: none;
}
